/* ********************************************************************************************
    Map
*********************************************************************************************** */

.map-sidebar {
  width: 320px;
  min-width: 320px;
  height: calc(100vh - 65px);
  display: none;
  transition: all 0.3s;
  .card-body {
    height: calc(100vh - 120px);
  }
}

.map-list {
  li {
    padding: 1rem;
    border-left: 3px solid transparent !important;
    border-bottom: 1px solid #eaf3fd !important;
  }
  li.active {
    border-left: 3px solid #fab854 !important;
    background-color: rgba(250, 184, 84, 0.11);
  }
}

.map-sidebar-btn {
  position: fixed;
  top: 65px;
  left: 0px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ee3124;
  z-index: 9;
  display: block;
  transition: all 0.3s;
}

.map-sidebar-btn.active {
  display: none;
  ~ {
    .map-sidebar {
      display: block;
    }
  }
}
